form *
{
	margin: 0;
	padding: 0;
}

form
{
	margin: 0;
	padding: 1em;
}

abbr.required
{
	font-size: 9pt;
	color: red;
}

form p
{
	margin: 1em 0 0 0;
}

form label
{
	float: left;
	width: 11em;
}

form input.edit
{
	width: 50%;
}

#buttonLabel
{
	color: white;
}

#buttonSection
{
	margin-top: 2em;
}

Button
{
	width: 10em;
}

.error
{
	margin: 1em;
	background-color: #ffaaaa;
	padding: 0.5em;
	font-size: 10pt;
}

.error li
{
	list-style-type: none;
}

.success
{
	margin: 1em;
	background-color: #aaffaa;
	padding: 0.5em;
	font-size: 10pt;
}

form li
{
	margin: 0.5em;
	list-style-type: none;
}

.buttonSection ul
{
	margin-left: 11em;
}

.buttonSection li
{
	float: left;
}

#userLabel
{
	font-size: 8pt;
}


.dialogSection
{
	padding: 1em;
}

.dialogTitle
{
	padding: 0;
	color: black;
	font-weight: normal;
	font-size: 13pt;
}

/* Style buttons */

form .subTableButton
{
	position: absolute;
	right: 1.25em;
}

.icoBtn.icoEdit {
  background-color: #42A05F;/*my Green*/
}

.icoBtn.icoEdit:hover {
  background-color: #17612E;/*my DarkGreen*/
}

.icoBtn.icoDelete {
  background-color: #D24F3E; /*my Red*/
}

.icoBtn.icoDelete:hover {
  background-color: #C91E07; /*my DarkRed*/
}

.icoBtn.icoAdd {
  background-color: DodgerBlue; /* Blue background */
}

.icoBtn.icoAdd:hover {
  background-color: RoyalBlue;
}

.icoBtn {
	width: 1.5em;
  border: solid; /* Remove borders */
  border-width: 1px;
  color: black; /* White text */
  padding: 0;
  margin: 0.25em;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
