form *
{
	margin: 0;
	padding: 0;
}

form
{
	margin: 0;
	padding: 1em;
}

abbr.required
{
	font-size: 9pt;
	color: red;
}

form p
{
	margin: 1em 0 0 0;
}

form label
{
	float: left;
	width: 11em;
}

form input.edit
{
	width: 50%;
}

#buttonLabel
{
	color: white;
}

.buttonSection
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.bottomSection
{
	padding-top: 1em;
	padding-bottom: 1em;
}

Button
{
	width: 10em;
}

.error
{
	margin: 1em;
	background-color: #ffaaaa;
	padding: 0.5em;
	font-size: 10pt;
}

.error li
{
	list-style-type: none;
}

.success
{
	margin: 1em;
	background-color: #aaffaa;
	padding: 0.5em;
	font-size: 10pt;
}

form li
{
	margin: 0.5em;
	list-style-type: none;
}

.buttonSection ul
{
	margin-left: 11em;
}

.buttonSection li
{
	float: left;
}

#userLabel
{
	font-size: 8pt;
}


.dialogSection
{
	padding: 1em;
}

.dialogTitle
{
	padding: 0;
	color: black;
	font-weight: normal;
	font-size: 13pt;
}

/* Style buttons */

form .subTableButton
{
	position: absolute;
	right: 1.25em;
}

.iconButton.editIcon {
  background-color: #42A05F;/*my Green*/
}

.iconButton.editIcon:hover {
  background-color: #17612E;/*my DarkGreen*/
}

.iconButton.deleteIcon {
  background-color: #D24F3E; /*my Red*/
}

.iconButton.deleteIcon:hover {
  background-color: #C91E07; /*my DarkRed*/
}

.iconButton.insertIcon {
  background-color: DodgerBlue;
}

.iconButton.insertIcon:hover {
  background-color: RoyalBlue;
}

.iconButton {
  width: 1.5em;
  border: solid; 
  border-width: 1px;
  color: black; 
  padding: 0;
  margin: 0.25em;
  font-size: 16px; 
  cursor: pointer; 
}

.icon {
  width: 1.5em;
  border: none; 
  color: black; 
  padding: 0;
  margin: 0.25em;
  font-size: 16px;
  cursor: pointer;
}
