form *
{
	margin: 0;
	padding: 0;
}

form
{
	margin: 0;
	padding: 1em;
}

abbr.required
{
	font-size: 9pt;
	color: red;
}

form p
{
	margin: 1em 0 0 0;
}

form label
{
	float: left;
	width: 11em;
}

form input.edit
{
	width: 50%;
}

#buttonLabel
{
	color: white;
}

#buttonSection
{
	margin-top: 2em;
}

Button
{
	width: 10em;
}

.error
{
	margin: 1em;
	background-color: #ffaaaa;
	padding: 0.5em;
	font-size: 10pt;
}

.error li
{
	list-style-type: none;
}

.success
{
	margin: 1em;
	background-color: #aaffaa;
	padding: 0.5em;
	font-size: 10pt;
}

form li
{
	margin: 0.5em;
	list-style-type: none;
}

.buttonSection ul
{
	margin-left: 11em;
}

.buttonSection li
{
	float: left;
}

#userLabel
{
	font-size: 8pt;
}


.dialogSection
{
	padding: 1em;
}

.dialogTitle
{
	padding: 0;
	color: black;
	font-weight: normal;
	font-size: 13pt;
}

/* Style buttons */
.icoBtn.icoEdit {
  background-color: #426524;/*my Green*/
}

.icoBtn.icoEdit:hover {
  background-color: #233613;/*my DarkGreen*/
}

.icoBtn.icoDelete {
  background-color: #AB1616; /*my Red*/
}

.icoBtn.icoDelete:hover {
  background-color: #7D0E0E; /*my DarkRed*/
}

.icoBtn.icoSave {
  background-color: #426524;/*my Green*/
}

.icoBtn.icoSave:hover {
  background-color: #233613;/*my DarkGreen*/
}

.icoBtn.icoCancel {
  background-color: #AB1616; /*my Red*/
}

.icoBtn.icoCancel:hover {
  background-color: #7D0E0E; /*my DarkRed*/
}

.icoBtn {
	width: 2em;
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 0;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.icoBtn:hover {
  background-color: RoyalBlue;
}

.icoBtn.icoTxt {
	width: 6.5em;
}